body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #171717 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.subQty,
.addQty {
  width: 32px;
  height: 32px;
  padding: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%; /* para hacerlos redondos */
}

.alertMessage {
  position: fixed !important;
  top: 50%;
  right: 0;
  width: 100%;
  height: 100%;
  justify-items: center;
  align-items: center;
}

.alertMessage.hidden {
  opacity: 0;
  pointer-events: none; /* <- esto evita que bloquee los clics */
}

.qty {
  display: inline-block;
  width: 2ch;
  text-align: center;
}

/* .progress-bar{
 background-color: rgb(38, 202, 87) !important;
}

.progress-bar.middle{
 background-color: rgb(223, 208, 81) !important;
}

.progress-bar.limit{
 background-color: rgb(223, 81, 81) !important;
} */

.progress-sticky {
  position: sticky;
  top: 0; /* o top:0 si lo quieres arriba */
  background: white; /* evita que se superponga visualmente con la tabla */
  padding: 120px 0; /* separación arriba y abajo */
  z-index: 10;
}

.tableData {
  border-radius: 30px !important;
}

table {
  font-size: 0.85rem;
}

input[type="number"] {
  text-align: center;
}
